{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h3>Удалить продукт</h3>
            </div>
            <div class="card-body">
                <p>Вы уверены, что хотите удалить "{{ product.name }}"?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Да, Удалить</button>
                    <a href="{% url 'products:product_detail' product.pk %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}